.barContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 30px;
    background-color: #121212;
    box-shadow: 0 0 4px rgba(112, 112, 112, 0.7);
    overflow: hidden;
    border-radius: 10px;
}

.barStyle {
    height: 100%;
    border-radius: 0px;
    transition: width 0.3s;
}

.tooltip {
    position: fixed;
    color: #F5F5F5;
    padding: 5px;
    pointer-events: none;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000000;
}
